<p>Name: <%= user.first_name + " " + user.last_name %></p>
<p>Facebook ID: <%= user.facebook_id %></p>
<p>Email: <%= user.email_address %> </p>
<p>Gender: <%= user.gender %></p>
<p>Member since: <%= user.created_at %></p>