<h3><i><%= post.title %></i></h3>
<p>Description: <%= post.description %></p>
<p>Location: <%= post.location %> </p>
<p>Latitude: <%= post.latitude %> </p>
<p>Longitude: <%= post.longitude %> </p>
<p>Post author: <%= post.user.first_name %>  <%= post.user.last_name %></p>
<p>Created: <%= post.created_at %></p>