<h3>Event Title: <%= event.title %></h3>
<p>Description: <%= event.description %></p>
<p>Location: <%= event.location %> </p>
<p>Event author: <%= event.user.first_name %>  <%= event.user.last_name %></p>
<p>Created: <%= event.created_at %></p>